<div class="container">
  <div class="row pt-5">
    <div class="col-md-8 offset-md-2">
      <h4 class="my-5 text-center">Create post</h4>

      <%= render "form", post: @post %>

    </div>
  </div>
</div>